a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.title {
    width: 100%;
    height: 57px;
    fill: image;
    scale: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.title img {
    height: 36px;
}


.line {

    height: 1px;
    fill: solid;
    background-color: #EBEDEF;
}

.menu a:hover {
    filter: brightness(1.6);
}

.menu {
    margin: 0 auto;
    width: 1360px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu :nth-child(1) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #C3170C;
}

.menu :nth-child(2) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #1E4B9B;
}

.menu :nth-child(3) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #006766;
}

.menu :nth-child(4) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #07AA47;
}

.menu :nth-child(5) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #E3662B;
}

.menu :nth-child(6) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #FB0735;
}

.menu :nth-child(7) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #FF75BB;
}

.menu :nth-child(8) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #EC7D00;
}

.menu :nth-child(9) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #323333;
}

.menu :nth-child(10) {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #A81D83;
}

.menu :nth-child(11) {
    display: none;
}

.menu :nth-child(12) {
    display: none;
}

.journal {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-bottom:6%;
}

.blockOne {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 750px;
    height: 600px;
}

.blockOne h1 {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: -0.01em;
    color: #C4160C;
}

.blockOne :nth-child(2) {
    font-family: 'Encode Sans', sans-serif;
    font-size: Medium;
    font-weight: 18px;
    line-height: 50px;
    letter-spacing: -1%;
    fill: Solid;
    color: #303134;
}

.blockOne :nth-child(3) {
    font-family: 'Encode Sans', sans-serif;
    font-size: Medium;
    letter-spacing: -1%;
    fill: Solid;
    color: #303134;
}

.lineDivision {
    width: 100%;
    height: 1px;
    background-color: #EBEDEF;
    margin-top: 5%;
    margin-bottom: 5%;
}

.um {
    width: 250px;
    height: 40px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    line-height: 100%;
    letter-spacing: -1%;
    color: #C4170C;
}

.dois {
    width: 220px;
    font-family: 'Encode Sans', sans-serif;
    font-size: 16px;
    font-weight: Bold;
    font-size: 21px;
    line-height: 100%;
    letter-spacing: -4.5%;
    color: #2F3134;
    margin-bottom: 10%;
}

.tres {
    width: 210px;
    font-family: 'Encode Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 109%;
    letter-spacing: -4.8%;
    color: #2F3134;
}

.dividir {
    width: 250px;

}

.dividir img {
    width: 75%;
    height: 105px;
    border-radius: 12px;
}

.secondary {
    width: 250px;
    height: 800px;

}

.division {
    width: 250px;
}

.one img {
    width: 240px;
    height: 128px;
    border-radius: 12px;
    scale: fill;
}

.quatro {
    font-family: 'Encode Sans', sans-serif;
    font-weight: medium;
    font-size: 15px;
    line-height: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    fill: solid;
    color: #16AE54;
    margin: 0.5vw 0 1vw;
}

.cinco {
    font-family: 'Encode Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    line-height: 100%;
    letter-spacing: -4.5%;
    fill: solid;
    color: #2F3134;
}

.seis {
    font-family: 'Encode Sans', sans-serif;
    font-weight: regular;
    font-size: 14px;
    line-height: 19px;
    line-height: 109%;
    letter-spacing: -4.8%;
    fill: solid;
    color: #2F3134;
    margin-bottom: 3vw;
    margin-top: 1vw;
}

.last {
    margin-top: 1.5vw;
}

.lineOne {
    width: 1px;
    margin: 0 2% 0 2%;
    fill: solid;
    background-color: #EBEDEF;
}

.lineTwo {
    width: 1.5px;
    margin: 0 1% 0 1%;
    fill: solid;
    background-color: #EBEDEF;
}

.sete {
    width: 210px;
    font-family: 'Encode Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 109%;
    letter-spacing: -4.8%;
    color: #2F3134;
    margin-bottom: 2%;
}

.two img {
    width: 240px;
    height: 128px;
    border-radius: 12px;
    scale: fill;
}

.two :nth-child(2) {
    font-weight: medium;
    font-size: 15px;
    font-family: 'Encode Sans', sans-serif;
    line-height: 18px;
    line-height: 100%;
    letter-spacing: 2%;
    fill: solid;
    color: #EC8006;
    margin: 0.5vw 0 1vw;
}

.two :nth-child(3) {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    line-height: 100%;
    letter-spacing: -4.5%;
    fill: solid;
    color: #2F3134;
    margin-bottom: 1.5vw;
}

.two :nth-child(4) {
    font-weight: regular;
    font-size: 14px;
    line-height: 19px;
    line-height: 109%;
    letter-spacing: -4.8%;
    fill: solid;
    color: #2F3134;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.two :nth-child(5) {
    font-weight: regular;
    font-size: 14px;
    line-height: 19px;
    line-height: 109%;
    letter-spacing: -4.8%;
    fill: solid;
    color: #2F3134;
    margin-bottom: 3vw;
}

#hidden {
    display: none;
}


@media(max-width:600px) {
    body {
        font-family: 'Encode Sans', sans-serif;
        width: 100%;
    }

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    .line {
        height: 1px;
        fill: solid;
        background-color: #EBEDEF;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .title {
        width: 100%;
        height: 80px;
        scale: fill;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
        transition: transform .4s linear;
    }

    #hidden {
        display: inline;
        width: 208px;
        height: 57px;
    }

    #visibility {
        display: none;
    }

    .menu {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu :nth-child(2) {
        display: none;
    }

    .menu :nth-child(3) {
        display: none;
    }

    .menu :nth-child(5) {
        display: none;
    }

    .menu :nth-child(6) {
        display: none;
    }

    .menu :nth-child(7) {
        display: none;
    }

    .menu :nth-child(9) {
        display: none;
    }

    .menu :nth-child(10) {
        display: none;
    }

    .menu :nth-child(11) {
        font-family: 'Encode Sans', sans-serif;
        font-weight: bold;
        font-size: 19px;
        line-height: 100%;
        letter-spacing: -2%;
        fill: solid;
        color: #666666;
        display: inline;
    }

    .menu :nth-child(12) {
        font-family: 'Encode Sans', sans-serif;
        font-weight: bold;
        font-size: 19px;
        line-height: 100%;
        letter-spacing: -2%;
        fill: solid;
        color: #0769DE;
        display: inline;
    }

    .journal {
        flex-direction: column;
        margin: 2%;
    }

    .blockOne {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .blockOne h1 {
        font-family: 'Encode Sans', sans-serif;
        width: 100%;
        font-weight: Bold;
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 2.8%;
        vertical-align: Top;
        fill: solid;
        color: #CD150B;
        align-content: center;
        vertical-align: top;
    }

    .dividir {
        width: 100%;
    }

    .paragrafo {
        width: 100%;
        font-weight: bold;
        font-size: 17px;
        line-height: 25px;
        fill: solid;
        color: #CD150B;
    }

    .blockOne :nth-child(3) {
        display: none;
    }

    .divisaoum {
        width: 100%;
        display: flex;
    }

    .divisaoum img {
        width: 120px;
        height: 67px;
        border-radius: 2px;
        scale: fill;
        margin: 2px;
        border-radius: 2px;
    }

    .lineDivision {
        display: none;
    }

    .divisaoum p {
        height: 18px;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        color: #CD150B;
        margin-top: 10%;
        margin-left: 10px;
    }

    .paragraph :nth-child(1) {
        font-size: 16px;
        width: 100%;
        height: 2%;
        font-weight: normal;
        color: #CD150B;
    }

    .lineMobileInvisible {
        width: 100%;
        height: 0.5px;
        margin-top: 2%;
        margin-bottom: 2%;
        background-color: #E6E6E6;
    }

    .blockTwo {
        width: 100%;
    }

    .um {
        width: 100%;
        font-size: 18px;
        font-weight: bold;
        line-height: 100%;
        color: #CD150B;
    }

    .dois {
        width: 100%;
        font-size: 16px;
        font-weight: normal;
        line-height: 100%;
        color: #EC8006;
        margin: 0;
    }

    .tres {
        width: 100%;
        font-size: 16px;
        line-height: 100%;
        font-weight: normal;
        color: #EC8006;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    .lineTwo {
        display: none;
    }

    .lineOne {
        display: none;
    }

    .secondary {
        width: 100%;
        height: 5%;
    }

    .division {
        width: 100%;
    }

    .one {
        display: flex;
        height: 100;
    }

    .one img {
        width: 120px;
        height: 67px;
        border-radius: 2px;
        scale: fill;
        margin: 2px;
        border-radius: 2px;
    }

    .one :nth-child(2) {
        width: 100%;
        height: 18px;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        margin-left: 10px;
        margin-top: 7%;
        color: #06AA48;
    }

    .paragraph2 :nth-child(1) {
        font-size: 16px;
        width: 100%;
        height: 2%;
        font-weight: normal;
        color: #06AA48;
    }

    .paragraph2 :nth-child(2) {
        font-size: 16px;
        width: 100%;
        height: 2%;
        font-weight: normal;
        color: #06AA48;
    }

    .two img {
        width: 120px;
        height: 67px;
        border-radius: 2px;
        scale: fill;
        margin: 2px;
        border-radius: 2px;
    }

    .two {
        display: flex;
    }

    .two :nth-child(2) {
        width: 100%;
        font-size: 18px;
        fill: solid;
        font-weight: bold;
        color: #EC8006;
        margin-top: 7%;
        margin-left: 10px;
    }

    .sete {
        font-size: 16px;
        width: 100%;
        height: 2%;
        font-weight: normal;
        color: #EC8006;
    }

    .journal {
        align-items: center;
    }

}

@media(max-width:300px) {
        body {
            font-family: 'Encode Sans', sans-serif;
            width: 100%;
        }

        * {
            box-sizing: border-box;
        }

        a {
            text-decoration: none;
        }

        .line {
            height: 1px;
            fill: solid;
            background-color: #EBEDEF;
            margin-top: 8px;
            margin-bottom: 5px;
        }

        .title {
            width: 100%;
            height: 80px;
            scale: fill;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 15px;
            transition: transform .4s linear;
        }

        #hidden {
            display: inline;
            width: 208px;
            height: 57px;
        }

        #visibility {
            display: none;
        }

        .menu {
            width: 100%;
            height: 40px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }

        .menu :nth-child(2) {
            display: none;
        }

        .menu :nth-child(3) {
            display: none;
        }

        .menu :nth-child(5) {
            display: none;
        }

        .menu :nth-child(6) {
            display: none;
        }

        .menu :nth-child(7) {
            display: none;
        }

        .menu :nth-child(9) {
            display: none;
        }

        .menu :nth-child(10) {
            display: none;
        }

        .menu :nth-child(11) {
            font-family: 'Encode Sans', sans-serif;
            font-weight: bold;
            font-size: 19px;
            line-height: 100%;
            letter-spacing: -2%;
            fill: solid;
            color: #666666;
        }

        .menu :nth-child(12) {
            font-family: 'Encode Sans', sans-serif;
            font-weight: bold;
            font-size: 19px;
            line-height: 100%;
            letter-spacing: -2%;
            fill: solid;
            color: #0769DE;
        }

        .journal {
            flex-direction: column;
            margin: 2%;
        }

        .blockOne {
            width: 100%;
            height: 100%;
            display: flex;
        }

        .blockOne h1 {
            font-family: 'Encode Sans', sans-serif;
            width: 100%;
            font-weight: Bold;
            font-size: 32px;
            line-height: 45px;
            letter-spacing: 2.8%;
            vertical-align: Top;
            fill: solid;
            color: #CD150B;
            align-content: center;
            vertical-align: top;
        }

        .dividir {
            width: 100%;
        }

        .paragrafo {
            width: 100%;
            font-weight: bold;
            font-size: 17px;
            line-height: 25px;
            fill: solid;
            color: #CD150B;
        }

        .blockOne :nth-child(3) {
            display: none;
        }

        .divisaoum {
            width: 100%;
            display: flex;
        }

        .divisaoum img {
            width: 120px;
            height: 67px;
            border-radius: 2px;
            scale: fill;
            margin: 2px;
            border-radius: 2px;
        }

        .lineDivision {
            display: none;
        }

        .divisaoum p {
            height: 18px;
            font-weight: bold;
            font-size: 18px;
            line-height: 120%;
            color: #CD150B;
            margin-top: 10%;
            margin-left: 10px;
        }

        .paragraph :nth-child(1) {
            font-size: 16px;
            width: 100%;
            height: 2%;
            font-weight: normal;
            color: #CD150B;
        }

        .lineMobileInvisible {
            width: 100%;
            height: 0.5px;
            margin-top: 2%;
            margin-bottom: 2%;
            background-color: #E6E6E6;
        }

        .blockTwo {
            width: 100%;
        }

        .um {
            width: 100%;
            font-size: 18px;
            font-weight: bold;
            line-height: 100%;
            color: #CD150B;
        }

        .dois {
            width: 100%;
            font-size: 16px;
            font-weight: normal;
            line-height: 100%;
            color: #EC8006;
            margin: 0;
        }

        .tres {
            width: 100%;
            font-size: 16px;
            line-height: 100%;
            font-weight: normal;
            color: #EC8006;
            margin-top: 2%;
            margin-bottom: 2%;
        }

        .lineTwo {
            display: none;
        }

        .lineOne {
            display: none;
        }

        .secondary {
            width: 100%;
            height: 5%;
        }

        .division {
            width: 100%;
        }

        .one {
            display: flex;
            height: 100;
        }

        .one img {
            width: 120px;
            height: 67px;
            border-radius: 2px;
            scale: fill;
            margin: 2px;
            border-radius: 2px;
        }

        .one :nth-child(2) {
            width: 100%;
            height: 18px;
            font-weight: bold;
            font-size: 18px;
            line-height: 120%;
            margin-left: 10px;
            margin-top: 7%;
            color: #06AA48;
        }

        .paragraph2 :nth-child(1) {
            font-size: 16px;
            width: 100%;
            height: 2%;
            font-weight: normal;
            color: #06AA48;
        }

        .paragraph2 :nth-child(2) {
            font-size: 16px;
            width: 100%;
            height: 2%;
            font-weight: normal;
            color: #06AA48;
        }

        .two img {
            width: 120px;
            height: 67px;
            border-radius: 2px;
            scale: fill;
            margin: 2px;
            border-radius: 2px;
        }

        .two {
            display: flex;
        }

        .two :nth-child(2) {
            width: 100%;
            font-size: 18px;
            fill: solid;
            font-weight: bold;
            color: #EC8006;
            margin-top: 7%;
            margin-left: 10px;
        }

        .sete {
            font-size: 16px;
            width: 100%;
            height: 2%;
            font-weight: normal;
            color: #EC8006;
        }

        .journal {
            align-items: center;
        }

    }