a {
    text-decoration: none;
}

body {
    font-family: 'Open Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.title {
    width: 100%;
    height: 57px;
    fill: image;
    scale: fill;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.line {
    height: 1px;
    fill: solid;
    background-color: #EBEDEF;
    margin-top: 8px;
    margin-bottom: 5px;
}

.menu {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.menu :nth-child(1) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #C3170C;
}

.menu :nth-child(2) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #1E4B9B;
}

.menu :nth-child(3) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #006766;
}

.menu :nth-child(4) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #07AA47;
}

.menu :nth-child(5) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #E3662B;
}

.menu :nth-child(6) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #FB0735;
}

.menu :nth-child(7) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #FF75BB;
}

.menu :nth-child(8) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #EC7D00;
}


.menu :nth-child(9) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #323333;
}


.menu :nth-child(10) {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 19px;
    line-height: 100%;
    letter-spacing: -2%;
    fill: solid;
    color: #A81D83;
}

h1 {
    font-family: Encode Sans;
    font-weight: bold;
    font-size: 60px;
    line-height: 92%;
    letter-spacing: -0.01em;
    color: #C4160C;
    margin-bottom: 1vw;
    margin-left: 3vw;
}

@media(max-width: 600px) {
    body {
        font-family: 'Open Sans', sans-serif;
    }

    * {
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
    }

    .title {
        width: 100%;
        height: 57px;
        fill: image;
        scale: fill;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .line {
        height: 1px;
        fill: solid;
        background-color: #EBEDEF;
        margin-top: 8px;
        margin-bottom: 5px;
    }

    .menu {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .menu a:nth-child(1) {
        font-weight: Bold;
        font-size: 19px;
        line-height: 26px;
        letter-spacing: -6.5%;
        color: #A80001;

    }

    .menu a:nth-child(2) {
        font-weight: Bold;
        font-size: 19px;
        line-height: 26px;
        letter-spacing: -6.5%;
        color: #06AA48;
    }

    .menu a:nth-child(3) {
        font-weight: Bold;
        font-size: 19px;
        line-height: 26px;
        letter-spacing: -6.5%;
        color: #FF7F00;
    }

    .menu a:nth-child(4) {
        font-weight: Bold;
        font-size: 19px;
        line-height: 26px;
        letter-spacing: -6.5%;
        color: #666666;
    }

    .menu a:nth-child(5) {
        font-weight: Bold;
        font-size: 19px;
        line-height: 26px;
        letter-spacing: -6.5%;
        color: #0769DE;
    }

    .menu :nth-child(6) {
        display: none;
    }

    .menu :nth-child(7) {
        display: none;
    }

    .menu :nth-child(8) {
        display: none;
    }

    .menu :nth-child(9) {
        display: none;
    }

    .menu :nth-child(10) {
        display: none;
    }

    .block p {
        font-weight: bold;
        font-size: 18px;
        line-height: 100%;
        letter-spacing: -0.01em;
        fill: solid;
        color: #CD150B;
    }

    h1 {
        font-weight: Bold;
        font-size: 32px;
        line-height: 35px;
        letter-spacing: -2.8%;
        fill: solid;
        color: #CD150B;
    }

    .blockOne {
        width: 100%;
        display: flex;
        align-items: center;

    }

    .blockOne span {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -4, 5%;
        color: #CD150B;
    }

    .blockOne img {
        width: 120px;
        height: 67px;
        border-radius: 2px;
        scale: fill;
        margin: 5px;
    }

    .paragraph {
        width: 100%;
        font-size: 16px;
        fill: solid;
        color: #CD150B;
        margin: 5px;
    }

    .blockTwo :nth-child(1) {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -4, 5%;
        fill: solid;
        color: #CD150B;
    }

    .blockTwo :nth-child(2) {
        width: 100%;
        font-size: 16px;
        fill: solid;
        color: #CD150B;
    }

    .blockThree {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .blockThree img {
        width: 120px;
        height: 67px;
        border-radius: 2px;
        scale: fill;
        margin: 5px;
    }

    .blockThree span {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -4, 5%;
        fill: solid;
        color: #06AA48;
        margin: 5px;

    }

    .paragraph2 p {
        width: 100%;
        font-size: 16px;
        fill: solid;
        color: #06AA48;
        margin: 5px;
    }

    .lineDivision {
        display: none;
    }

    .blockFour {
        width: 100%;
        display: flex;
        align-items: center;
    }

    .blockFour span {
        width: 100%;
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        letter-spacing: -4, 5%;
        fill: solid;
        color: #FF8203;
    }

    .blockFour img {
        width: 120px;
        height: 67px;
        border-radius: 2px;
        scale: fill;
        margin: 5px;
    }

    .paragraph4 {
        width: 100%;
        font-size: 16px;
        fill: solid;
        color: #FF8203;
        margin: 5px;
    }
}